body{
    position: relative;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    background: url('../Image/Foodimage_files/IMG_5392.JPG') center no-repeat;
    background-size: cover;
    font-family: century Gothic;
    display: flex;
    align-items: stretch;
}
.li-content{
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    align-self: stretch;
}
